services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    ports:
      - 8123:8123
    volumes:
      - ./config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    # privileged: true
    # network_mode: host
    environment:
      TZ: Asia/Makassar
    networks:
      - home_network

  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:2
    restart: always
    ports:
      - 1883:1883
      - 1884:1884
    volumes:
      - ./mosquitto/config.conf:/mosquitto/config/mosquitto.conf:ro # Mount custom config
      # - ./mosquitto/data:/mosquitto/data   # Persistent data storage
      # - ./mosquitto/log:/mosquitto/log 
    networks:
      - home_network

networks:
  home_network:
